$black: #000;
$blue: #3498db;
$white: #fff;
$light-color: #ddd;
$bg-color: #333;
$black-bg: rgba(0, 0, 0, 0.8);
$border: 1px solid #ddd;
$theme: light;

$colors: (
  accent: $blue,
);

$max-width: 1200px;

